.say-hello-btn {
  color: white;
  background-color: #188aec;

  padding: 0.8rem;
  padding-inline: 2.3rem;
  border-radius: 0.5rem;

  position: relative;
  z-index: 1;

  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;

  &::after {
    content: '';
    border: 0.15rem solid #188aec;
    width: 100%;
    height: 100%;

    padding: 0.8rem;
    padding-inline: 2.3rem;
    border-radius: 0.5rem;

    z-index: -1;
    position: absolute;
    top: -0.54rem;
    left: 10px;
  }
}
