---
import Heading from '@elements/Heading.astro';
import Btn from '@elements/Btn.astro';

import Layout from '@layouts/Layout.astro';

import '@/base.css';
---

<Layout>
  <div class="flex flex-col gap-7 text-md md:text-xl">
    <div class="flex flex-col gap-1">
      <Heading>About Me 👨‍🦰</Heading>
      <p>A brief intro to who i am and what i do:</p>
    </div>
    <div>
      <p>
        I am <span class="font-black text-3xl">Muhesh</span>
      </p>
    </div>
    <div>
      <p>
        I am a Computer Science student in my senior year, hailing from India.
        My passion lies in using software to tackle practical, real-world
        challenges. I have professional experience as a Software Engineer
        specializing in Full Stack Web Development. Additionally, I'm an avid
        Competitive Programmer, engaging in a variety of coding competitions
        such as Kickstart, Hackercup, Hash Code, and more.
      </p>
    </div>
    <div>
      <p>
        I believe I have the necessary skills and technologies to develop a
        comprehensive web application with maintainable code based on your idea.
        I am also open to exploring and gaining knowledge in other domains of
        Software Engineering, such as Mobile App Development and DevOps.
      </p>
    </div>
  </div>
  <div>
    <Btn btnText="Say Hello" />
  </div>
</Layout>
