---
import Heading from '@elements/Heading.astro';
import Btn from '@elements/Btn.astro';

import Layout from '@layouts/Layout.astro';

import '@/base.css';
---

<Layout>
  <div class="flex flex-col gap-7 text-lg">
    <div class="flex flex-col gap-1">
      <Heading>About Me 👨‍🦰</Heading>
      <p>A brief intro to who i am and what i do:</p>
    </div>
    <div>
      <p>
        I am <span class="font-black text-3xl">Muhesh</span>
      </p>
    </div>
    <div>
      <p>
        A Junior Computer Science student from India. I like to solve real world
        problems with software. I'm an aspiring Software Engineer with
        experience in Full Stack Web Development and some Machine Learning
        tasks. I'm also a Competitive Programmer who participates in various
        coding competitions like Kickstart, Hackercup, Hash Code and so on.
      </p>
    </div>
    <div>
      <p>
        I believe I've got the right skills and technologies to take your idea
        and build a full fledged web application with maintainable code. I'm
        open to explore and learn other fields of Software Engineering such as
        Mobile App Development and DevOps.
      </p>
    </div>
  </div>
  <div>
    <Btn btnText="Say Hello" />
  </div>
</Layout>
