---
import { motion } from 'framer-motion';

import Heading from '@elements/Heading.astro';
import Skill from '@components/Skill.astro';

import Layout from '@layouts/Layout.astro';

import getImageURL from '@utils/getImageURL';

import skillsData from '@data/skillsData';

import '@/base.css';
---

<Layout>
  <motion.div client:load>
    <div class="flex flex-col gap-20">
      <div class="flex flex-col gap-7 text-xl">
        <Heading>Skills</Heading>
        <p>Here are some of my skills</p>
      </div>
      <div class="flex flex-col gap-[5rem] items-center justify-center">
        {
          skillsData.map((skill) => {
            return (
              <div class="flex flex-col gap-[1rem] items-center justify-center">
                <h2 class="text-lg font-bold">{skill.skillType}</h2>
                <div class="flex itesm-center justify-center gap-[2rem] flex-wrap">
                  {skill.skills.map((skillDetail) => {
                    return (
                      <Skill
                        skillImageUrl={getImageURL(skillDetail.skillImageName)}
                        skillName={skillDetail.skillName}
                      />
                    );
                  })}
                </div>
              </div>
            );
          })
        }
      </div>
    </div>
  </motion.div>
</Layout>
