---
import Btn from '@elements/Btn.astro';

import getImageURL from '@utils/getImageURL';

export interface Props {
  data: {
    id: number;
    title: string;
    description: string;
    btn1Text: string;
    btn2Text: string;
    certificateLink: string;
  };
}

const { data } = Astro.props;
const { title, description } = data;
---

<div class="flex gap-[2rem]">
  <div class="flex items-center justify-center">
    {/* TODO: Achievement image */}
    <img src={getImageURL('codeforces.png')} alt="Codeforces Logo" />
  </div>
  <div class="flex flex-col gap-[2rem]">
    <h2>{title}</h2>
    <p>{description}</p>
    <div class="flex gap-[2rem]">
      <Btn btnText="Details" />
      <Btn btnText="View Achievement" />
    </div>
  </div>
</div>
