---
import Btn from '@elements/btn.astro';
import getImageURL from '@utils/get-image-urls';

export interface Props {
  data: {
    id: number;
    title: string;
    description: string;
    btn1Text: string;
    btn2Text: string;
    certificateLink: string;
  };
}

const { data } = Astro.props;
const { title, description } = data;
---

<div class="flex gap-8">
  <div class="flex items-center justify-center">
    {/* TODO: Achievement image */}
    <img src={getImageURL('codeforces.png')} alt="Codeforces Logo" />
  </div>
  <div class="flex flex-col gap-8">
    <h2>{title}</h2>
    <p>{description}</p>
    <div class="flex gap-8">
      <Btn btnText="Details" />
      <Btn btnText="View Achievement" />
    </div>
  </div>
</div>
