---
import BottombarIcon from '@elements/bottom-bar-icon.astro';
import ThemeToggle from '@components/theme-toggle';
import navItems from './nav-items';
import Tooltip from '@elements/tooltip.astro';
---

<!-- TODO: make it responsive for extra small devices -->
<div
  class="fixed bottom-6 z-1 flex justify-center items-center gap-2.5 bg-white dark:bg-darkBottomBarBackground border border-bottomBarIconBgColor dark:border-slate-700 rounded-3xl py-1.5 md:py-0.5 px-3 md:px-5 shadow-bottomBarShadow dark:shadow-darkBottomBarShadow transform-preserve-3d"
>
  {navItems.map((navItem) => <BottombarIcon navItem={navItem} />)}
  <div class="border-l border-fontColor h-12"></div>
  <div class="group relative">
    <ThemeToggle client:load />
    <Tooltip text="Theme" />
  </div>
</div>
