---
export interface Props {
  skillName: string;
}
const { skillName } = Astro.props;
---

<p
  class="rounded-full bg-bottomBarIconBgColor dark:bg-skillPillDarkColor px-5 py-2"
>
  {skillName}
</p>
