---
import { motion } from 'framer-motion';

import Header from '@components/Header.astro';
import Bottombar from '@components/Bottombar.astro';
import BackgroundBlurEllipse from '@elements/BackgroundBlurEllipse.astro';

const animations = {
  initial: { opacity: 0 },
  animate: { opacity: 1 },
  exit: { opacity: 0 },
};
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Muhesh Kumar</title>
  </head>
  <body class="dark:bg-darkBackground">
    <Header />
    <motion.main
      className="font-spaceGrotesk text-fontColor dark:text-white px-[15rem] py-[5rem] flex flex-col gap-20"
      variants={animations}
      initial="initial"
      animate="animate"
      exit="exit"
      client:load
    >
      <slot />
    </motion.main>
    <Bottombar />
    <BackgroundBlurEllipse />

    <script is:inline>
      const theme = (() => {
        if (
          typeof localStorage !== 'undefined' &&
          localStorage.getItem('theme')
        ) {
          return localStorage.getItem('theme');
        }
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          return 'dark';
        }
        return 'light';
      })();

      if (theme === 'light') {
        document.documentElement.classList.remove('dark');
      } else {
        document.documentElement.classList.add('dark');
      }
      window.localStorage.setItem('theme', theme);
    </script>
  </body>
</html>
