---
import Header from '@components/Header.astro';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Muhesh Kumar</title>
  </head>
  <body>
    <Header />
    <main class="font-spaceGrotesk text-fontColor px-[15rem] py-[5rem]">
      <slot />
    </main>
  </body>
</html>
